.Board {
    margin: 1rem;
}

.Board-column {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.BoardSlot-bold {
    /*border: double #000 !important;*/
}

.BoardSlot-bold.BoardSlot-empty {
    background: #eee;
}

.BoardSlot {
    width: 4rem;
    height: 4rem;
    background: #ded;
    /*border: solid #888;*/
    margin: .7rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #0003 .1rem .1rem .1rem;
    transition-duration: .2s;
    z-index: 5;
    border-radius: .2rem;
}

.BoardSlot-empty .BoardSlot-slot-id {
    color: #aaa !important;
    opacity: 1 !important;
}

.BoardSlot-slot-id {
    color: #fff;
    opacity: .7;
    position: absolute;
    transform: translateX(-1.2rem) translateY(-1.2rem);
}

.BoardSlot:hover {
    box-shadow: #0005 .1rem .1rem 1rem;
    transform: scale(110%);
}

.BoardSlot:active {
    transform: scale(150%);
    z-index: 10;
    box-shadow: #000a .3rem .3rem 2rem;
}

.BoardSlot-empty:hover {
    background: #fff;
}

.LineHV {
    position: absolute;
    border: 1px solid #555;
    z-index: 0;
    background: #555;
    box-shadow: #0003 .1rem .1rem .3rem;
}

.LineH {
    height: 0;
    width: 2rem;
    transform: translateX(-50%) translateY(-50%);
}

.LineH-container {
    position: relative;
}

.LineV-container {
    position: relative;
    left: -3.1rem;
    top: -4.8rem;
}

.LineV {
    height: 4rem;
    width: 0;
}

.LineV-L {
    transform: translateX(-1.65rem) rotateZ(-65deg);
}

.LineV-R {
    transform: translateX(1.65rem) rotateZ(65deg);
}

.Chessman {
    font-size: 1rem;
    color: #fff;
    text-shadow: #0003 .1rem .1rem .1rem;
}

.Chessman-us {
    background: #1c99ff;
}

.Chessman-enemy {
    background: #ff1c59;
}

.Chessman-selected {
    background: #086ab9 !important;
}